* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-image: url(fresh-coffee-steams-wooden-table-close-up-generative-ai.jpg);
  font-family: "Open Sans", sans-serif;
  height:100vh;
  background-position: center;
  background-size: cover;  
 background-repeat: no-repeat;
 margin: 2%;
}

/* heading section */

.header {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
  
.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 20px 15px;
}


.logo a {
  font-size: 1.8rem;
  text-decoration: none;
  color: white;
}

.brand-logo a{
  cursor: pointer;
  font-family: 'Bree Serif', serif;
  font-size: 2.5rem;
  font-weight: 550;
}

.brand-logo a:hover{
  color:rgb(131, 81, 81) ;
}

.links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.links a {
  font-weight: 500;
  text-decoration: none;
  color: white;
  padding: 10px 0;
  transition: 0.2s ease;
}

.links a:hover{
  color:rgb(131, 81, 81) ;
}

/* Hamburger menu styles */
#menu-toggle {
  display: none;
}

#hamburger-btn {
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
  display: none;
  order: 1;
}

@media screen and (max-width: 623px) {
  .navbar .logo a {
    font-size: 1.5rem;
    color: white;
  }

  .links {
    position: fixed;
    flex-direction: column;
    right: -100%;
    top: 5%;
    width:100%;
    height: 50vh;
    padding-top: 8%;
    padding-left: 60%;
    background-color: transparent;
    /* background-color:rgb(243, 200, 200); */
    flex-direction: column;
    transition: 0.5s ease;
    color:white;
  }

  .navbar #menu-toggle:checked ~ .links {
    left: 0;
  }

  .navbar #hamburger-btn {
    display: block;
  }

  
}
/* End of the Header section */

.underline-hover {
    position: relative;
    display: inline-block;
 
    color:white;
    text-decoration: none;
    cursor: pointer;
}
/*underline move*/
.underline-hover:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color:rgb(131, 81, 81); /* Change this color as needed */
    animation: underline 0.3s ease-out ;
}

@keyframes underline {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
/*end underline move*/
.mid{
        /* padding-left: 10px; */
        display: flex;
        padding-left: 30px;
        padding-top: 100px;
        color:white;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size:20px;       
}

@media(max-width: 623px) { 
  .mid{
    padding-top: 45%;
  }
}

 /* Keyframes for the animation */
 @keyframes typing {
    from {
      width: 0%;
    }
    to {
      width: 315px;  /*width:100% korla curser ta blink kora hol page jaba taii ota korboo na besause amar full dorkar naii*/ /* akhana % kora jaba na nahola aliment ar problem hoba tai px use korta hoba*/
    }
  }

  /* .open-menu {
    display: inline-block;
      flex-direction:row;
      margin-left:95%;
      color: white;
  } */

/* .open-menu{
   display: none;
} */
  /* CSS for the animated text */
   .text {
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid rgb(241, 238, 232); /* Adjust border properties to change cursor style */
    font-weight: bold;
    color:white;
    animation: typing 4s steps(40, end) alternate infinite;
  }

.spa{
    padding-left: 30px;

}
.button {
    padding: 20px; /* Adjust the padding as needed */
    border-radius: 25px; /* Adjust the border-radius as needed */
    border: 10px solid rgb(44, 3, 3); /* Optional: Adds a border */
    /* background: transparent; */
    margin: 20px 10px; /* for gap from up para*/
    
  }
  
  .button {
    padding: 10px 20px;
    border: 2px solid rgb(111, 6, 6);
    background-color: #19daec;
    color:white;
    font-size: 16px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: color 0.4s,border-color 0.4s;
    background: transparent;
  }

  .button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    /* background:radial-gradient( transparent, rgba(14, 224, 213, 0.4),rgb(157, 255, 0)) ; */
    background:linear-gradient(80deg, transparent,rgb(170, 63, 63),rgb(169, 43, 43),transparent);
    transition: left 1.0s;
  }

  .button:hover::before {
    left: 100%;

  }

/* Responsive code */
@media (max-width: 1231px) {
.header{
    font-size: 1.5rem;
}
}

/* @media(max-width: 687px) {
     .list{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top:0;
        right:-100px;
        z-index:100;
        background-color: rgb(179, 126, 126);
        transition:all 0.2s ease-in-out;
        }
        .list p{ margin-top: 40px ;}
        .list p a {padding: 10px;}
}
@media(max-width: 687px) {
  .list{
    display: none;
  }
} */
